[submodule "fluentcassandra/upstream"]
	path = fluentcassandra/upstream
	url = git@github.com:blucz/fluentcassandra.git
[submodule "manos/upstream"]
	path = manos/upstream
	url = git@github.com:blucz/manos.git
