.*
!.gitignore
bin
obj
Debug
Release
Debug_static
Release_static
*.ncb
*.suo
*.user
*_fontcoords.txt
*.dds
*.expr
*.gbl
*.skin
fmod.log
*.sln.cache
*.mp3
*.wav
*.flac
skinactions.dll
*.log
*.tgz
*.tar.gz
*.zip
*.db
o
o2
obs
out
out2
err
*.o
*.a
*.lo
*.la
*.obj
*.lib
*.stackdump
*.mode1v3
*.pbxuser
Makefile
Makefile.Sooloos
Makefile.SooloosRoot
vc90.pdb
vc100.pdb
broocompiler_debug
*.csproj
*.fsproj
*.sln
*.idb
GenmakeMSBuildTasks.dll
*.log.txt
*.fsyacc.output
WebClient/src/Sooloos/Msg
*_defunct.sooschema
*.pidb
*.mdb
*~
broocompiler_atlas_cache
local.properties
gen
*.sooloosplugin
xcuserdata
*.perspectivev3
SooloosMobile/android/libs
SooloosMobile/webos/enyo*
SooloosMobile/webos/BUILD
SooloosMobile/webos/app/mono
SooloosMobile/iOS/Sooloos Mobile/build/
